.subscription{
  background: $blue-main;
  padding: 12rem 3rem 0;

  .wrapper{
    // @include flexCenter(column);
    text-align: center;
    background: $blue-intro-email;
    padding: 1.8rem;
    height: 34rem;
    border-radius: 0.5rem;
    position: relative;
    z-index: 1;
    max-width: 50rem;
    margin: auto;
    margin-bottom: -18rem;
    box-shadow: 0rem 0.5rem 0.5rem 0rem #08101b;



    h2{
      margin-bottom: 1.8rem;
      font-size: 2rem;
      font-family: 'Raleway', sans-serif;
    }

    p{
      font-size: 1.4rem;
      font-family: 'Open Sans', sans-serif;
      line-height: 2.0rem;
      margin-bottom: 1.8rem;
    }

    input{
      width: 100%;
      height: 5rem;
      margin: 2rem 0;
      border: none;
      border-radius: 2.5rem;
      padding-left: 3rem;
      color: #000;

      &::placeholder{
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        color: #c5c5c5;
      }
    }

    button{
      width: 100%;
      height: 5rem;
      border: none;
      border-radius: 2.5rem;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 1.4rem;
      background: linear-gradient(74deg, #53c8d5 , #3eafcf );
    }

  }
}

.footer{

  p{
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-family: 'Open Sans', sans-serif;
  }

  background: $blue-footer;
  padding: 22rem 2.8rem 4.3rem;
  .upper{
    .logo{
      margin: 3rem 1.1rem 4rem;
    }

    .contact-info{
      // padding: 0 1rem;
      // @include flexCenter(row);
      // justify-content: end;
      display: grid;
      grid-template-columns: 10% 90%;
      // grid-gap: 1rem;
      margin-bottom: 1.5rem;

      &:nth-child(2) {
        p{
          letter-spacing: 0.07rem;
          font-size: 1.5rem;
        }
      }

      &:nth-child(3){
        i{
          img{
            width: 1.28rem;
          }
        }
      }

      // &:nth-child(4) {
      //   p{
      //     font-size: 1.4rem;
      //   }
      // }

      i{

        grid-column: 1;
        margin-top: 0.6rem;

        // img{
        //   margin-right: 1rem;
        // }
        img{
          

        }
      }
      
      p{
        grid-column: 2;
        width: 100%;
        margin-left: 0.8rem;          

      }
    }
  }

  .lower{
    margin: 8rem 0 0 0;

    .footer-links{
      // margin-top: 1rem;

      .links{
        margin:  5rem 0;

        li{
          margin: 1.8rem 0;

          a{
            font-size: 1.5rem;
            font-family: 'Open Sans', sans-serif;
            letter-spacing: 0.07rem;
          }
        }
      }
    }
  }

  .socials{
    @include flexCenter(row);
    margin-top: 8rem;

    a{
      i{
        @include flexCenter(column);
        font-size: 1.2rem;
        width: 2.8rem;
        height: 2.8rem;
        border: #fff solid 0.1rem;
        margin: 0 0.5rem;
        border-radius: 50%;
      }
    }
  }
}

/*TABLET AND DESKTOP*/
@media(min-width: 650px) {
  .footer{
    .upper{
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 41% 18% 17%;
      gap: 0rem 2rem;

      .logo{
        grid-column: 1;
        grid-row: 1;
      }

      .contact-info{
        &:nth-child(2){
          grid-column: 1;
          grid-row: 2;
          max-width: 37rem;
        }

        &:nth-child(3) {
          grid-column: 2;
          grid-row: 2;         
        }

        &:nth-child(4) {
          grid-column: 2;
          grid-row: 3;
        }
      }
    }

    .lower{
      margin: 0;
  
      .footer-links{
        display: flex;
        // margin: auto;
        justify-content: center;
        
  
        .links{
          width: 40%;
        }
      }
    }
    .socials{
      margin: 0;
    }
  }
}