header{
  background: $blue-intro-email;
  @include flexCenter(row);
  justify-content: space-between;
  padding: 2.3rem 2rem;

  .logo{
    width: 8rem;
    img{
      width: 60%;
      min-width: 8rem;
    }
  }

  nav{
    ul{
      @include flexCenter(row);
      margin: 0 -0.8rem 0.2rem;


      li{
        margin: 0 1.2rem;
        // margin-left: 1.8rem;
        // margin-right: 0.2rem;
        a{
          color: white;
          font-size: 1.2rem;
          font-weight: 400;
          font-family: 'Raleway', sans-serif;
          letter-spacing: 0.2px;
        }
      }
    }
  }
}

.hero{
  background: linear-gradient(180deg, $blue-intro-email 60%, $blue-main 60%);
  // background: $blue-intro-email 60vh;
  // height: 100vh;
  position: relative;

  &::before{
    content:'';
    background: url(../images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 25%;
    // z-index: 0;
    top: 37%;
    background-size: cover;
  }

  .hero-image{
    @include flexCenter(column);
    width: 100%;
    height: 25rem;
    padding: 3rem 3.5rem;

    img{
      // transform: scale(0.2);
      width: 100%;
      z-index: 1;
      margin-top: 2.3rem;
      object-fit: cover;
      max-width: 38rem;
    }
  }

  .hero-text{
    // z-index: 1;
    margin: auto;
    margin-top: 3.1rem;
    position: relative;
    padding: 0 3.2rem;
    text-align: center;
    font-size: 1.4rem;
    max-width: 50rem;
  }

  h1{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1.6rem;
    line-height: 3.6rem;
    font-size: 2.4rem;
    word-spacing: 0.1rem;
  }

  p{
    font-family: 'Open Sans', sans-serif;
    line-height: 2.1rem;
    font-size: 1.4rem;
    margin:0 0.5rem 3.1rem;
  }

  button{
    width: 77%;
    // height: 3.4rem;
    padding: 1.6rem;
    border: none ;
    border-radius: 2.5rem;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(74deg, #53c8d5 , #3eafcf );
    // margin-bottom: 1.6rem;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 4rem;
  }

}

@media (min-width: 1023px) {
  header{
    padding: 5.5rem 5.5rem 0;
    
    .logo{

      img{
        width: 13rem;
      }
    }
  }

  .hero{
    background: $blue-intro-email;

    &::before{
      background: url(../images/bg-curvy-desktop.svg);
      bottom: -10%;
      top: auto;
      height: 31rem;
      background-repeat: no-repeat;
      background-size: 100%;
    }

    .hero-image{
      height: max-content;
      img{
        max-width: 51rem;

      }
    }

    .hero-text{
      margin-top: 0rem;
    }

    button{
      width: 48%;
      padding: 1.2rem;
    }
  }
}